
*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
.head{
height: 50px;
background: linear-gradient(#2f455cff,#1dcdfe);
}
.headlist li{
    float:left;
    height: 50px;
    width: 100px;
    line-height: 50px;
    text-align: center;
}
.headlist a{
    color: #000;
    display: block;
}
.headlist{
    width: 800px;
    margin: auto;
}
.headlist a:hover{
    background: orange;
}
.search-bar{
    position: relative;
    height: 50px;
    max-width: 800px;
    width: 100%;
    background: #fff;
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.search-bar i,
.search-bar .button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.search-bar i {
    left: 15px;
    font-size: 20px;
    color: silver;
}
.search-bar input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 50px;
    background-color: transparent;
}
.search-bar .button{
    right: 15px;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    background-color: #1dcdfe;
    cursor: pointer;
}
.search-bar .button.clicked{
    transform: translateY(-50%) scale(0.98);
}

/*response*/
@media screen and(max-width: 500px){
    .search-bar{
        height: 66px;
        margin: 0 8px;
    }
    .search-bar i{
        left: 12px;
        font-size: 25px;
    }
    .search-bar input{
        padding: 0 112px 0 50px;
    }
    .search-bar .button{
        right: 12px;
        font-size: 14px;
        padding: 8px 18px;
    }
}